div.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  padding: 4rem 2rem;
}

div.login h1,
div.login h2 {
  font-size: 2.4rem;
  font-weight: 700;
  color: #1f2937;
}

div.login label {
  font-size: 1.4rem;
  font-weight: 600;
  color: #374151;
}

div.login input {
  font-size: 1.4rem;
}

div.login button {
  font-size: 1.4rem;
  font-weight: 600;
}

div.login p,
div.login span,
div.login a {
  font-size: 1.4rem;
  color: #6b7280;
}

div.login a {
  font-weight: 500;
  color: #3b82f6;
}

div.login div.option {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}