div.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;

    padding: 4rem 2rem;
    
    div.option {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        
        width: 100%;
    }
}