section.topNavbar {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 95vw;
    position: sticky;
    top: 2.5vw;
    z-index: 1;
    border-radius: 1rem;
    padding: 1.5rem 0;
    margin: 0 auto 2rem auto;
    background-color: white;
    filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.15));
    
    nav {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;

        div.pages {
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            width: 100%;

            a.page {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: .4rem;
                
                i, span {
                    color: #707070;

                    &.active {
                        color: black;
                    }
                }
                
                i {
                    font-size: 2.4rem;
                }
                
                span {
                    font-size: 1.2rem;
                }
            }
        }
    }
}