.new-purchase {
    h3 {
        font-size: 2rem;
    }

    // Purchases list
    .purchases-list {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        max-height: 32rem;
        overflow-y: auto;
    }

    // Total + card selection block
    .summary-block {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        gap: 1rem;

        .card-selector {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 1rem;
            border-bottom: 2px solid var(--color-purchase-border);

            ul {
                list-style: none;
                display: flex;
                flex-wrap: wrap;
                gap: .5rem;
                margin: 0;
                padding: 0;
            }
        }
    }

    // Action buttons (Cancel / Save)
    .action-buttons {
        display: flex;
        gap: 1rem;
    }
}
