.button {
    font-size: 1rem;
    width: 100%;
    padding: .75rem 1rem;
    border: none;
    border-radius: .5rem;
    color: white;
    cursor: pointer;

    &.default {
        background-color: var(--blue);
    }

    &.submit {
        background-color: var(--blue);

        &:disabled {
            background-color: var(--lightblue);
            cursor: not-allowed;
        }
    }

    &.cancel {
        background-color: var(--cian);
    }

    &.option {
        font-size: .875rem;
        font-weight: 200;
        width: 100%;
        padding: .5rem 1rem;
        border: 2px solid var(--blue);
        border-radius: .5rem;
        cursor: pointer;

        &.selected {
            background-color: var(--blue);
            color: white;
        }

        &.unselected {
            background-color: white;
            color: var(--blue);
        }
    }
}