.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    width: 100%;
    padding: 1rem 2rem;
    

    border: none;
    border-radius: var(--button-border-radius);
    
    font-size: var(--button-font-size);
    font-weight: var(--button-font-weight);
    cursor: pointer;

    i {
        font-size: var(--button-font-size);
    }

    &.default {
        color: var(--default-fg);
        background-color: var(--default-bg);
    }

    &.add {
        color: var(--add-fg);
        background-color: var(--add-bg);
    }

    &.submit {
        color: var(--submit-fg);
        background-color: var(--submit-bg);

        &:disabled {
            color: var(--disabled-fg);
            background-color: var(--disabled-bg);
            cursor: not-allowed;
        }
    }

    &.cancel {
        color: var(--cancel-fg);
        background-color: var(--cancel-bg);
    }

    &.option {

        &.selected {
            color: var(--selected-fg);
            background-color: var(--selected-bg);
        }

        &.unselected {
            color: var(--unselected-fg);
            background-color: var(--unselected-bg);
        }
    }
}