div.invoice {

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .image-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;

        position: relative;
        width: fit-content;
        height: fit-content;
        padding: 1rem 0;
        width: 100%;

        i {
            display: flex;
            align-items: center;
            justify-content: center;

            font-size: 4.8rem;
            width: 8rem;
            height: 8rem;
            border-radius: 50%;
            color: var(--color-blue);
            background-color: var(--color-blue-lighter);
        }
    }

    .text {
        width: 100%;
        padding: 1rem 0;
    }
}
