section.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 95vw;
    position: sticky;
    bottom: 2.5vw;
    z-index: 1;
    border-radius: 1rem;
    padding: 1.5rem 0;
    margin: 2rem auto 0 auto;
    background-color: white;
    filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.15));
    
    nav {
        min-width: 35rem;
        width: 100%;
        max-width: 45rem;
        display: grid;
        grid-template-columns: 2fr 1fr 2fr;

        button.add {
            position: absolute;
            bottom: 2.5rem;
            
            width: 7.2rem;
            height: 7.2rem;
            border-radius: 2rem;
            border: 4px solid white;
            background-color: var(--color-blue);
            
            svg {
                font-size: 4rem;
                color: white;
            }
        }

        div.pages {
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            a.page {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: .4rem;
                
                &.active {

                    svg, span {
                        color: var(--color-blue-dark);
                        text-decoration: underline;
                        text-decoration-thickness: 2px;
                    }
                }
                svg, span {
                    color: var(--color-blue-light);
                }
                
                svg {
                    font-size: 2.4rem;
                }
                
                span {
                    font-size: 1.2rem;
                }
            }
        }
    }
}