section.navbar {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 7rem;
    position: fixed;
    bottom: 0;
    width: 100vw;
    background-color: white;
    z-index: 1;
    font-weight: 500;
    
    nav {
        min-width: 35rem;
        width: 100%;
        max-width: 45rem;
        display: grid;
        grid-template-columns: 2fr 1fr 2fr;

        button.add {
            position: absolute;
            bottom: 2rem;
            
            width: 7.2rem;
            height: 7.2rem;
            border-radius: 50%;
            border: 4px solid white;
            background-color: gray;
            
            svg {
                font-size: 4rem;
                color: white;
            }
        }

        div.pages {
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            a.page {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: .6rem;
                
                svg, span {
                    color: gray;

                    &.active {
                        color: black;
                    }
                }
                
                svg {
                    font-size: 2.4rem;
                }
                
                span {
                    font-size: 1.2rem;
                }
            }
        }
    }
}