h1.title {
    text-align: center;
    font-size: 2.4rem;
    font-weight: 700;
}

h2.subtitle {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
}

p.text {
    font-size: 1.4rem;
}
