.expenses-card {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;

    width: 100%;
    aspect-ratio: var(--card-aspect-ratio);
    padding: 4rem 3rem;
    border-radius: 1.2rem;
    background: linear-gradient(to right, #eeeeee, #e2e2e2);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
    //font-family: Arial, sans-serif;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title {
            color: #6b7280;
            font-size: 2.2rem;
        }

        .icon {
           color: var(--color-red);
            font-size: 3.2rem;
        }
    }

    .value {
        color: var(--color-red);
        font-size: 3.2rem;
    }

    .description {
        color: #6b7280;
        font-size: 1.8rem;
    }

    &.deposit {
        .header {

            .icon {
                color: var(--color-green-dark);
            }
        }

        .value {
            color: var(--color-green-dark);
        }
    }
}