div.section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

ul.deposits-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.4rem;
  max-height: 36rem;
  overflow-y: auto;
  background: var(--background);
  border: 2px solid var(--color-purchase-border);
}
ul.deposits-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  padding: 2rem 2rem 1rem 2rem;
  border-radius: 1rem;
  border: 2px solid var(--color-purchase-border);
  background-color: white;
}
ul.deposits-list li div.info {
  width: 100%;
}
ul.deposits-list li div.info div.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1rem;
  width: 100%;
}
ul.deposits-list li div.info div.header div.data p {
  color: #303030;
  font-size: 1.6rem;
}
ul.deposits-list li div.info div.header div.data span {
  color: var(--color-green-dark);
  font-size: 1.8rem;
}
ul.deposits-list li div.info div.header div.actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}
ul.deposits-list li div.info div.header div.actions i {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1.4rem;
  height: 2.8rem;
  border-radius: 0.4rem;
}
ul.deposits-list li div.info div.header div.actions i.delete {
  width: 2.8rem;
  background-color: var(--color-close);
  color: white;
}
ul.deposits-list li div.info div.header div.actions i.edit {
  padding: 0 1.4rem;
  background-color: var(--color-blue-light);
  color: #333;
}
ul.deposits-list li div.info div.header div.actions i.edit span {
  font-size: 1.4rem;
  font-weight: 600;
  color: #333;
}
ul.deposits-list li div.edit-deposit {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem 0;
  width: 100%;
  border-top: 2px solid var(--color-purchase-border);
}
ul.deposits-list li div.edit-deposit .buttons {
  display: flex;
  gap: 1rem;
}
ul.deposits-list li div.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  width: 100%;
  aspect-ratio: var(--card-aspect-ratio);
  border-radius: 2rem;
  padding: 3rem;
}
ul.deposits-list li div.card div.branding {
  display: flex;
  justify-content: space-between;
}
ul.deposits-list li div.card div.branding p.bank, ul.deposits-list li div.card div.branding p.brand {
  font-size: 2.4rem;
  color: #eee;
}
ul.deposits-list li div.card div.branding i {
  font-size: 3.6rem;
  color: #eee;
}
ul.deposits-list li div.card div.type {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
ul.deposits-list li div.card div.type i:nth-of-type(1) {
  font-size: 3rem;
  color: #ffd465;
}
ul.deposits-list li div.card div.type i:nth-of-type(2) {
  transform: rotate(90deg);
  font-size: 1.2rem;
  color: #eee;
}
ul.deposits-list li div.card div.number {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
ul.deposits-list li div.card div.number p {
  color: #eee;
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
}
ul.deposits-list li div.card div.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
ul.deposits-list li div.card div.footer div.data span, ul.deposits-list li div.card div.footer div.date span {
  color: #d4d4d4;
  font-size: 1.4rem;
}
ul.deposits-list li div.card div.footer div.data p, ul.deposits-list li div.card div.footer div.date p {
  color: #eee;
  font-size: 1.6rem;
}
ul.deposits-list li div.card div.footer div.date {
  text-align: right;
}/*# sourceMappingURL=wallet.css.map */