.purchases-filter {

    div {
        width: 100%;
    }

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .content {
        display: flex;
        gap: 2rem;
        margin-top: 2rem;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;

        .purchases-list {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            max-height: 32rem;
            overflow-y: auto;
        }
    }
}