* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-size: 10px;
    font-family: 'Lexend Deca', sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-decoration: none;
    
    outline: none;
    list-style: none;
    scrollbar-width: thin;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

div.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    max-width: 100vw;
    background: var(--background);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 2rem;
}

.input-block {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.input-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.block {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    width: 95vw;
    padding: 2rem;
    background-color: white;
    border-radius: 1rem;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.1));
}

form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}