* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: 'Montserrat Variable', sans-serif;
    text-decoration: none;
}

section.users {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    width: 100vw;
    min-height: 100vh;
    margin: 0 auto;
}

section.users > div.user {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    padding: 2rem;

}

section.users > span {
    font-weight: 700;
}