section.users {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    width: 100vw;
    min-height: 100vh;
    margin: 0 auto;
}

div.user {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    padding: 2rem;

}

span {
    font-weight: 700;
}