section.users {
    min-height: 100vh;
    margin: 0 auto;
}

div.user {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    padding: 2rem;

}

span {
    font-weight: 700;
}

button:hover{
    cursor: pointer;
    filter: brightness(0.9);
}

.rotating {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}