* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-size: 10px;
    font-family: 'Lexend Deca', sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    
    list-style: none;
    scrollbar-width: thin;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.block {
    width: 90vw;
    padding: 2rem;
    background-color: white;
    border-radius: 1rem;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.1));
}