:root {
    --default-fg: white;
    --default-bg: #333;

    --add-fg: #333;
    --add-bg: #00FF9C;
    
    --submit-fg:white;
    --submit-bg:#367ee2;

    --selected-fg:white;
    --selected-bg: #367ee2;

    --unselected-fg:#333;
    --unselected-bg: #8fb7ef;

    --disabled-fg:#333;
    --disabled-bg: #8fb7ef;

    --cancel-fg: white;
    --cancel-bg: #ef4444;

    --foreground: 210 15% 20%;
    --verylightgrey:hsl(240 15% 98%);
    --border-color:hsl(215 20% 88%);
    color: hsl(var(--foreground));
    /* color-scheme: light dark; */
}