div.cards {

    form {
        div.section {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            
            ul.cards-list {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                li {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;

                    div.info {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        gap: 1rem;

                        width: 100%;
                        padding: 2rem 2rem 1rem 2rem;
                        border-radius: 1rem;
                        border: 2px solid var(--color-purchase-border);
                        background-color: white;

                        div.header {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            padding-bottom: 1rem;
                            width: 100%;

                            p {
                                color: #303030;
                                font-size: 1.6rem;
                            }

                            div.actions {
                                display: flex;
                                align-items: center;
                                justify-content: flex-end;
                                gap: 1rem;

                                i {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    gap: 1rem;

                                    font-size: 1.4rem;
                                    height: 2.8rem;
                                    border-radius: .4rem;
                                    
                                    &.delete {
                                        width: 2.8rem;
                                        background-color: var(--color-close);
                                        color: white;
                                    }
                                    
                                    &.edit {
                                        padding: 0 1.4rem;

                                        span {
                                            font-size: 1.4rem;
                                            font-weight: 600;
                                            color: #333;
                                        }
                                        background-color: var(--color-blue-light);
                                        color: #333;
                                    }
                                }
                            }
                        }

                        div.edit-card {
                            display: flex;
                            flex-direction: column;
                            gap: 2rem;

                            padding: 1rem 0;
                            width: 100%;
                            border-top: 2px solid var(--color-purchase-border);

                            .buttons {
                                display: flex;
                                gap: 1rem;
                            }
                        }
                    }

                    div.card {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: space-between;

                        width: 100%;
                        aspect-ratio: var(--card-aspect-ratio);
                        border-radius: 2rem; 
                        padding: 3rem;

                        div.branding {
                            display: flex;
                            justify-content: space-between;

                            p.bank, p.brand {
                                font-size: 2.4rem;
                                color: #eee;
                            }
                            i {
                                font-size: 3.6rem;
                                color: #eee;
                            }
                        }

                        div.type {
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            gap: 1rem;

                            i:nth-of-type(1) {
                                font-size: 3rem;
                                color: #ffd465;
                            }

                            i:nth-of-type(2) {
                                transform: rotate(90deg);
                                font-size: 1.2rem;
                                color: #eee;
                            }
                        }

                        div.number {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            p {
                                color: #eee;
                                font-size: 1.4rem;
                                letter-spacing: .2rem;
                            }
                        }

                        div.footer {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            
                            div.data, div.date {
                                span {
                                    color: #d4d4d4;
                                    font-size: 1.4rem;   
                                }
                                p {
                                    color: #eee;
                                    font-size: 1.6rem;
                                }
                            }

                            div.date {
                                text-align: right;
                            }
                        }
                    }
                }
            }
        }
    }
}