article.purchase {
    display: flex;
    align-items: space-between;
    justify-content: space-between;

    padding: 1rem 2rem;
    width: 100%;
    background-color: var(--color-purchase-bg);
    border: var(--purchase-border);
    border-radius: var(--purchase-border-radius);

    div {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
    }

    // left column: title and category
    .info {
        align-items: flex-start;
        justify-content: flex-end;
        gap: .5rem;

        h4 {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: clip;
            font-size: 1.6rem;
            color: #303030;
        }

        p.category {
            font-size: 1.4rem;
            color: #444;

            padding: .2rem 1.2rem;
            border-radius: 1rem;
            background-color: var(--color-purchase-border);
        }
    }

    // middle column: price section
    .price {
        text-align: right;

        p {
            font-size: 1.4rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: clip;
            color: #303030;
        }

        p.qtd {
            font-size: 1.2rem;
            color: #505050;
        }
    }

    // right column: checkbox and close button
    .actions {
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap: 1rem;

        input, i {
            font-size: 1.4rem;
            width: 2.4rem;
            height: 2.4rem;
            border-radius: .4rem;
        }

        i {
            display: flex;
            align-items: center;
            justify-content: center;

            background-color: var(--color-close);
            color: white;
        }
    }
}